<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="extra">
    <h1>
        Here you'll see current Weather Data of any Location you enter below.
    </h1>
    <form method="post" action="/stat">
        <label>Location: </label>
        <input type="text" name="location" placeholder="Enter the location: "> <br>
        <button type="submit" class="btn">
            Fetch Current Weather Data...
        </button>
    </form>
</body>
</html>